@use "./variables" as *;

body {
  background-image: url("../image/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

* {
  color: $white !important;
  text-decoration: none !important;
}