@use "./variables" as *;

.ms-center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-text-impact {
  font-family: "Skratch Punk", sans-serif;
  transform: rotate(-2deg);
  color: $primary !important;
}

.ms-ff-skratch {
  font-family: "Skratch Punk", sans-serif;
}

.ms-rotate-n2 {
  transform: rotate(-2deg);
}

.ms-shadow-white {
  box-shadow: 0 0.5rem 1rem rgba(white, 0.3);
}

.ms-arrow {
  background: transparent;
  border: none;
  font-size: 100px;
  width: 10%;
}

.ms-img-fit {
  height: 100%;
  object-fit: cover;
}