@use "./variables" as *;

.center_hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_impact {
  font-family: "Skratch Punk", sans-serif;
  transform: rotate(-2deg);
  color: $primary;
}

.f_skratch {
  font-family: "Skratch Punk", sans-serif;
}

.rotate_2 {
  transform: rotate(-2deg);
}

.bg_darkless {
  background: $darkless !important;
}
.text_darkless {
  color: $darkless !important;
}

.my_shadow {
  box-shadow: 0 0.5rem 1rem rgba(white, 0.3);
}

.ms_arrow {
  background: transparent;
  border: none;
  font-size: 100px;
  position: absolute;
  width: 20vh;
}
