$darkless: #1e1c1c;
$lightless: #f1f1f1;
$lighter: #ffffff;

/* From bootstrap */
$dark: #181515;
$light: #fafafa;
$secondary: #9a9a9b;
$primary: #1279ff;
/* $accenture: #; */
/* $success:   #; */
/* $danger:    #; */
/* $warning:   #; */
/* $info:      #; */
/* $muted:     #; */
/* $white:     #; */
