/* Var-Color Palette - from Bootstrap */
$dark: #07031f;
$light: #fafafa;
$primary: #f739b1;
/* $secondary:   # ; */
/* $accenture: # ; */
/* $success:   # ; */
/* $danger:    # ; */
/* $warning:   # ; */
/* $info:      # ; */
/* $muted:     # ; */
$white: white;

/* Var-Color Palette - Personal */
$darkless: #0f0649;
/* $lightless: # ; */
/* $lighter:   # ; */
